<?xml version="1.0"?>

<launch>

  <!-- RViz config file -->
  <arg name="rvizconfig" default="$(find pie_bringup)/config/pie_sim.rviz" />
  <arg name="world" default="$(find pie_bringup)/worlds/world_basic_actors.world" />

  <!-- Bringup with camera -->
  <include file="$(find pie_bringup)/launch/bringup.launch">
    <arg name="world" value="$(arg world)"/>
    <arg name="rvizconfig" value="$(arg rvizconfig)"/>
    <arg name="use_camera" value="true"/>
  </include>
</launch>
