<?xml version="1.0"?>

<launch>

  <arg name="rvizconfig" default="$(find pie_ai_bringup)/config/pie_sim.rviz" />
  <arg name="world" default="$(find pie_bringup)/worlds/world_tables_chairs.world" />
  <arg name="map_file" default="$(find pie_bringup)/maps/world_basic/map.yaml"/>
  <arg name="x_pos" default="2.5"/>
  <arg name="y_pos" default="0.1"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="yaw_pos" default="1.57"/>

  <!-- Launch simulation with camera -->
  <include file="$(find pie_bringup)/launch/simulation.launch">
    <arg name="world" value="$(arg world)"/>
    <arg name="x_pos" default="$(arg x_pos)"/>
    <arg name="y_pos" default="$(arg y_pos)"/>
    <arg name="z_pos" default="$(arg z_pos)"/>
    <arg name="yaw_pos" default="$(arg yaw_pos)"/>
    <arg name="visualize_laser" default="false"/>
    <arg name="use_camera" default="true"/>
    <arg name="visualize_camera" default="true"/>
  </include>

  <!-- Launch Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/>

</launch>
